<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
</head>
<body>
<h1>Add Student</h1>
<form action="/students/add" method="post" th:object="${student}">
    <label for="fullName">Full Name:</label>
    <input type="text" id="fullName" th:field="*{fullName}"><br>
    <label for="recordBookNumber">Record Book Number:</label>
    <input type="text" id="recordBookNumber" th:field="*{recordBookNumber}"><br>
    <label for="birthDate">Birth Date:</label>
    <input type="text" id="birthDate" th:field="*{birthDate}"><br>
    <label for="admissionDate">Admission Date:</label>
    <input type="text" id="admissionDate" th:field="*{admissionDate}"><br>
    <button type="submit">Add</button>
</form>
</body>
</html>